modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "imagemagick", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "redis", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Realtime Server"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start_backend.sh"
waitForPort = 8000

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Realtime Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd real-time-server && npm start"
waitForPort = 3001

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 6379
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
GOOGLE_API_KEY = "AIzaSyB6rSsWSWLJhcA2pzFtt-Y1I2wx6UAdyD4"
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyB6rSsWSWLJhcA2pzFtt-Y1I2wx6UAdyD4"
SECRET_KEY = "k@qmpyi6$!@0@!)1wt#wfri3n)r3l*$er2k=!f=5n$h(7bv2b-"
